* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    min-height: 100vh;
    background-color: cadetblue;
    margin: 0 auto;
    padding: 20px;
}

.name {
    color: black;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    
}

.container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-bottom: 15px;
    border-radius: 8px;
}